<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

<!-- Expense Servlet -->
<servlet>
    <servlet-name>ExpenseServlet</servlet-name>
    <servlet-class>ExpenseServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ExpenseServlet</servlet-name>
    <url-pattern>/addExpense</url-pattern>
</servlet-mapping>


<!-- View Expenses Servlet -->
<servlet>
    <servlet-name>ViewExpensesServlet</servlet-name>
    <servlet-class>ViewExpensesServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewExpensesServlet</servlet-name>
    <url-pattern>/viewExpenses</url-pattern>
</servlet-mapping>

</web-app>